.container {
  width: 90%;
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  gap: 30px 30px;
}

@media screen and (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
